<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        #canvas {
            display: block;
/*            width: 300px;
            height: 300px;
*/            border: 1px solid #ccc;
        }
        .flex-box {
            display: flex;
        }
        #judgeButton {
            margin: 10px;
        }
        #result {
            width: 300px;
            height: 300px;
            border: 1px solid #ccc;
            font-size: 200px;
            text-align: center;
            line-height: 300px;
        }
    </style>
    <script type="text/javascript" src="/static/app.js"></script>
</head>
<body>
    
    <h1>手書き文字を判定するアプリ</h1>

    <div class="flex-box">
        <div>
            <p style="text-align:center;margin:0;">▼フリーハンドで書いてみる▼</p>
            <canvas id="canvas" width="300" height="300"></canvas>
            <button id="delButton">消す</button>
        </div>
        <div style="line-height:300px;margin:0 10px;">判定&nbsp;=&gt;</div>
        <div>
            <p style="text-align:center;margin:0;">▼判定結果だよー▼</p>
            <div id="result"></div>
        </div>
    </div>
    <br>
    <p>※ フリーハンドは一筆書きでお願いします（4とか5とか）。</p>
</body>
</html>